extends layout
block content
  script(src='/js/jquery.js')
  script(src='/js/foodRecord.js')
  a(href='/') Back to Menu
  br
  span Exist food:
  br
  span Total count : #{records.length}
  form(id='filter' method="POST" action="/food")
   label(for="filter_name") Search Name : 
   input(type="text" name="filter_name" value= keyword)
   br
   | Sort Options :
   input(type="radio" name="sortOption" value="none" checked)
   | None
   input(type="radio" name="sortOption" value="name")
   | Name
   input(type="radio" name="sortOption" value="expiry")
   | Expiry Date
   input(type="radio" name="sortOption" value="bestBefore")
   | Best Before Date
   input(type="radio" name="sortOption" value="buyTime")
   | Buy Time 
   input(type="radio" name="sortOption" value="foodType")
   | Food Type
   br
   | Sort Order
   input(type="radio" name="sortOrder" value="asc" checked)
   | Ascending 
   input(type="radio" name="sortOrder" value="desc")
   | Descending
   br
   input(type="submit" value="Search")

  each record in records
   div.foodRecord(class= record.recordType)
    button.deleteBtn(onclick='deleteFoodRecord(\''+record._id+'\');') X
    span Name: #{record.name}
    br
    span FoodType: #{record.foodType}
    br
    span Expiry Date: #{record.expiry}
    br
    span Best Before Date: #{record.bestBefore}
    br
    span Buy Time: #{record.buyTime}
    br
  form(method='POST' action='/food/insert')
   fieldset
    legend Add new food record
    label(for='name') Name : 
    input(name='name' type='text' required='required')
    br
    label(for='expiry' id='expiryDate') Expiry Date : 
    input(name='expiry' id='expiryDate' type='date' required='required')
    br
    label(for='bestBefore') Best Before Date : 
    input(name='bestBefore' type='date' required='required')
    br
    label(for='buyTime') Buy Time : 
    input(name='buyTime' type='date' required='required')
    br
    label(for='foodType') Food Type : 
    input(type='radio' class='foodType' name='foodType' value='raw' required='required')
    | Raw Food
    input(type='radio' class='foodType' name='foodType' value='other' required='required' checked)
    | Others
    br
    input(type='submit' value='Submit')
