extends layout

block content
  h1= title
  p Welcome to #{title}
  ol
  each item in menu
   li
    a(href= item.target)= item.title
    if alert
     script(type="text/javascript")
     | alert('#{expiryAlert}');
