body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.foodRecord{
  display: inline-block;
  clear: left;
  border: 1px solid black;
  background: lightblue;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 5px;
}

.expired{
  background: red;
}